[Unit]
Description=Start/stop ntopng program
After=network-online.target syslog.target redis-ntopng.service
Requires=redis-ntopng.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/etc/init.d/ntopng start
ExecStop=/etc/init.d/ntopng stop
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target
