[Unit]
Description=Start/stop ntopng program
After=network-online.target syslog.target redis-ntopng.service
Requires=redis-ntopng.service
ConditionPathExists=/etc/ntopng/ntopng.conf
ConditionPathExists=/etc/ntopng/ntopng.start

[Service]
Type=simple
ExecStartPre=/usr/bin/touch /etc/ntopng/ntopng.start
ExecStart=/usr/bin/ntopng /etc/ntopng/ntopng.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
